/* Global */
.navbar-top {
    border-radius: 0;
}
.container, .panel-body {
    word-wrap: break-word;
}
.searchForm {
    margin-right: 0;
}
#inputSearchProjects {
    width: 100%;
}
.glyphicon-big{
    font-size: 120px;
}
.glyphicon-xs{
    font-size: 8pt
}
.jumbotron-center {
  text-align: center;
  background-color: transparent;
}
.jumbotron-center .btn {
  padding: 14px 24px;
  font-size: 21px;
}
/* Comment form */
#sendComment {
    position:absolute;
    bottom:20px;
    right:20px;
    opacity: 0;
}
#containerComment {
    position:relative;
}
#containerComment:hover #sendComment {
    opacity: 0.5;
}
#sendComment:hover {
    opacity: 1;
}

